/* src/App.css */
.App {
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

form div {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}
